### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
.env


Question2/node_modules
Question1/node_modules
Question3/node_modules
Question3/chatt-app/node_modules


*.sublime*

psd
thumb
sketch