<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>GET Form</title>
  </head>
  <body class="bg-dark text-white">
    <div
      class="container mt-5 col-offset-5 col-5 d-flex flex-column justify-content-center"
    >
      <h1 class="display-2">Get Form</h1>
      <form method="GET" action="/myget">
        <div class="mb-3">
          <label for="firstName" class="form-label"
            >First Name</label
          >
          <input
            type="text"
            class="form-control"
            id="firstName"
            aria-describedby="emailHelp"
            name="firstName"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
